@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  :root { --radius: 12px; }
  html, body { height: 100%; }
  body { @apply bg-white text-gs-ink antialiased font-sans; } /* mantém */

}

@layer components {
  .container-gs { @apply mx-auto max-w-container px-4 lg:px-6; }

  /* BOTÕES GS (cantos retos) */
  .btn-gs {
    @apply inline-flex items-center justify-center
           bg-gs-red hover:bg-gs-redDark text-white
           font-montserrat font-light
           px-5 py-2 rounded-none transition;
  }

  .btn-gs-sm {
    @apply inline-flex items-center justify-center
           bg-gs-red hover:bg-gs-redDark text-white
           font-montserrat font-light
           px-4 py-2 rounded-none transition;
  }

  .btn-gs-outline {
    @apply inline-flex items-center justify-center
           border border-gs-red text-gs-ink
           font-montserrat font-light
           px-4 py-2 rounded-none text-sm transition
           hover:border-gs-redDark;
  }
}
